/* --- Class CSS --- */

.body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #E3D5CA;
}

.footer{
    background-color: #E3D5CA;
}

/* Sourced from Google fonts*/
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Sourced from Google fonts*/
.cormorant-upright-light {
  font-family: "Cormorant Upright", serif;
  font-weight: 300;
  font-style: normal;
}
/* Sourced from Google fonts*/
.cormorant-upright-regular {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style: normal;
}
/* Sourced from Google fonts*/
.cormorant-upright-medium {
  font-family: "Cormorant Upright", serif;
  font-weight: 500;
  font-style: normal;
}
/* Sourced from Google fonts*/
.cormorant-upright-semibold {
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-style: normal;
}
/* Sourced from Google fonts*/
.cormorant-upright-bold {
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  font-style: normal;
}

.text2-5 {
  font-size: 2.5rem;
}

.text2 {
  font-size: 2rem;
}

.text1-25 {
  font-size: 1.25rem;
}

.card {
  width: 20%;
  height: auto;
}

.help-center-arrow-toggle {
  cursor: pointer;
}

.help-center-arrow-toggle:active {
  transform: rotate(180deg);
}


.background-carousel-outer {
  background-color: black;
}
.background-carousel-inner {
  opacity: 50%;
}
.carousel-item {
  height: 340px;
}


/* --- ID CSS --- */

#help-center-title {
  margin-bottom: 60px;
}

#FAQ-title {
  margin-bottom: 45px;
}

#contact-information-title {
  padding-left: 5px
}
